/*
 Filename: cssTriggered.css
 Written by: Dhruv Patel
 Purpose: Learning about jQuery.
 Date: 27 March 2019
 Modification History:
 3 April 2019 made
*/

/* fomatting the body section*/

body{
    text-align: left;
}

