/*
 Filename: cssStrings.css
 Written by: Dhruv Patel
 Purpose: Learning about string methods.
 Date: 27 February 2019
 Modification History:
 27 February 2019 made
*/

body {
    font-family: arial;

}

.box1{
    padding: 30px;
    height: 50px;
    width: 400px;
    background-color: #d8d8d8;
    border: 3px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    font-size:1.4em;
}

.box2{
    padding: 30px;
    height: 400px;
    width: 400px;
    background-color: #d8d8d8;
    border: 3px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    font-size:1.4em;
}
