
  /* Formating the header line */
  header {
	  text-align:center;
	  color:rgb(138, 46, 46);
  }

  /* fomatting the earl of pembroke info*/
  #earlPembroke{
    font-size:1.4em;
    color:rgb(0, 0, 0);
  }

  div.transbox{
    padding: 30px;
    height: 180px;
    width: 350px;
    background-color: #d8d8d8;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

  }
  /* fomatting the black pearl info */
  #blackpearl{
    float: right;
    font-size:1.4em;
    color:rgb(0, 0, 0);
  }

  div.tBox{
    padding: 30px;
    height: 180px;
    width: 350px;
    background-color: #d8d8d8;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

  }

  /* uploading the background image*/
  body {
    background-image: url("73569.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 